@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "caramellatte";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.016 73.684);
  --color-base-200: oklch(95% 0.038 75.164);
  --color-base-300: oklch(90% 0.076 70.697);
  --color-base-content: oklch(40% 0.123 38.172);
  --color-primary: oklch(77% 0.152 181.912);
  --color-primary-content: oklch(25% 0.09 281.288);
  --color-secondary: oklch(0% 0 0);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(82% 0.189 84.429);
  --color-accent-content: oklch(27% 0.077 45.635);
  --color-neutral: oklch(40% 0.123 38.172);
  --color-neutral-content: oklch(98% 0.016 73.684);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(59% 0.293 322.896);
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 2px;
  --depth: 1;
  --noise: 1;
}